@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Paleta de colores */
  --color-verde-oscuro: #123316;
  --color-verde-claro: #79b823;
  --color-verde-agua: #c0d8c8;
  --color-blanco: #fff;
  --color-gris-claro: #717171;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5; /* Interlineado */
  box-sizing: border-box;
}
/* Selector universal de elementos HTML */
* {
  /* Eliminar los espaciados y margenes predeterminados del navegador */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales  */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
img {
  width: 100%;
  border-radius: 1rem;
}
h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.col-50 {
  flex: 1 1 calc(50% - 1rem);
}
.col-100 {
  flex: 1 1 100%;
}
.contenedor {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 5rem;
  gap: 2rem;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

/* Estilos header */

#head {
  text-align: center;
  width: 100%;
}

.contenido-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .contenido-header {
    flex-direction: column;
  }
}

.contenido-header p {
  color: var(--color-blanco);
  font-size: 12px;
  font-weight: 300;
}

.datos-header {
  display: flex;
  background-color: var(--color-verde-oscuro);
  flex-grow: 1;
  padding: 0.8rem;
  justify-content: space-around;
  width: 100%;
}

.redes {
  background-color: var(--color-verde-claro);
  flex-grow: 1;
  padding: 0.8rem;
}

/* Estilos navegacion */

#navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-blanco);
  border-bottom: 1px dotted var(--color-verde-claro);
  padding: 0.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  #navegacion {
    flex-direction: column;
    gap: 1rem;
  }
  .enlaces-nav {
    flex-direction: column;
    gap: 0.5;
    text-align: center;
  }
}
.div-logo {
  background-color: var(--color-verde-claro);
  padding: 0.4rem 2rem;
}

.enlaces-nav {
  display: flex;
  gap: 2rem;
}

.enlaces-nav a {
  color: var(--color-verde-oscuro);
  font-size: 15px;
  position: relative;
  font-weight: 400;
}

.enlaces-nav a::before {
  content: "";
  width: 0;
  height: 4px;
  background: var(--color-verde-claro);
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  border-radius: 2px 2px 0 0;
  transition: all 0.4s ease-in-out;
}

.enlaces-nav a:hover {
  color: var(--color-verde-claro);
}

.enlaces-nav a:hover::before {
  width: 100%;
}

.boton-nav {
  padding: 1rem;
  border: none;
  background-color: var(--color-verde-claro);
  color: var(--color-blanco);
}

/* Como trabajamos */

#section-como-trabajamos {
  margin-top: 2rem;
  background-color: var(--color-blanco);
}
.como-trabajamos {
  h2 {
    color: var(--color-verde-oscuro);
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px;
    }
  }
}

.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  padding: 20px;
  background-color: var(--color-blanco);
  text-align: center;
  p {
    font-weight: 300;
    color: var(--color-gris-claro);
  }
}
.card img {
  padding-bottom: 1rem;
}

/* Sobre nosotros  */
#section-sobre-nosotros {
  background-color: var(--color-blanco);
}

.sobre-nosotros {
  h2 {
    font-size: 50px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px;
    }
  }
}
.about-us-span {
  font-size: 20px;
  color: var(--color-verde-claro);
  font-weight: 400;
  text-decoration: overline;
}

.texto {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  span {
    font-size: 20px;
    font-weight: 500;
  }
}
.cards-about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}
@media (max-width: 768px) {
  .cards-about-us {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.card-about-us {
  width: 300px;
  padding: 8px;
  background-color: var(--color-blanco);
  text-align: center;
  border: 1px solid rgba(173, 181, 189, 0.3);

  p {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
  }
}

/* Estilos Nuestra mision  */

#mision {
  background-color: var(--color-verde-agua);
  color: var(--color-blanco);
  h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 2rem;
  }
}
.contenido-mision {
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
}

/* Nuestro equipo  */
#nuestro-equipo {
  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px;
    }
  }
  .card {
    text-align: start;
  }
  .cargo {
    color: var(--color-verde-claro);
  }
}

/* Nuestros servicios  */
#nuestros-servicios {
  background: linear-gradient(
      90deg,
      rgba(18, 51, 22, 0.7399334733893557) 30%,
      rgba(18, 78, 26, 0.7063200280112045) 100%
    ),
    url("../images/fondo-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  span {
    color: #fff;
  }
  .card {
    border: 1px solid var(--color-verde-claro);
    border-radius: 1rem;
  }
  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: var(--color-blanco);
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px;
    }
  }
  .contenedor-cards {
    gap: 5rem;
  }
}

/* Nuestros proyectos */

#nuestros-proyectos {
  span {
    font-size: 20px;
    color: var(--color-verde-claro);
    font-weight: 400;
    text-decoration: overline;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px;
    }
  }
  .card-projects {
    flex-basis: 0;
    flex-grow: 1;
    border: 2px dashed var(--color-verde-claro);
    border-radius: 1rem;
  }
  .col-33 {
    flex-basis: calc(33.3% - 1rem);
    max-width: calc(33.3% - 1rem);
  }
  @media (max-width: 768px) {
   .col-33 {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
   }
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 1rem;
  }
  p {
    margin-left: 1rem;
    font-size: 16px;
    color: var(--color-gris-claro);
    font-weight: 300;
  }

  .card-projects:hover .project-hijo {
    opacity: 100%;
  }

  .project-hijo p {
    position: absolute;
    opacity: 0;
    right: calc(50% -5em);
    transform: translateX(-200px);
    transition: all 0.3s ease-in-out;
    color: var(--color-blanco);
  }

  .card-projects:hover .project-hijo p {
    opacity: 1;
    transform: translateY(0px);
  }

  .card-projects img {
    transition: all 0.3s ease-in-out;
  }
  .card-projects:hover img {
    transform: scale(1.1);
  }

  .card-projects:hover {
    cursor: pointer;
  }

  .project-padre {
    overflow: hidden;
  }

  .project-padre {
    position: relative;
  }

  .project-hijo {
    position: absolute;
    background-color: rgba(18, 78, 26, 0.7063200280112045);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0 2rem;
    }
    i {
      margin: 1rem 0.5rem;
      font-size: 1.5rem;
      color: var(--color-blanco);
    }
  }
}
.contenedor-cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Scroll  */

.scroll-up {
  /* Formatear el enlace del icono scroll-up */
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: var(--color-verde-claro);
  color: var(--color-blanco);
  border: 1px solid var(--color-blanco);

  /* Posicionamiento del botón con respecto al viewport */
  position: fixed;
  bottom: 30px;
  right: 30px;
  
  
}
@media (max-width: 768px) {
    .scroll-up {
      bottom: 10px;
      right: 10px;
    }
}

/* Seccion logros */
#logros {
  background: linear-gradient(
      90deg,
      rgba(18, 51, 22, 0.7399334733893557) 30%,
      rgba(18, 78, 26, 0.7063200280112045) 100%
    ),
    url("../images/bg_logros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-blanco);
  padding: 2rem;
  .contenido .subtitulo-section {
    text-align: center;
  }
  .title-section {
    color: var(--color-blanco);
  }
  .logros-container {
    display: flex;
    justify-content: space-around;
  }
  @media (max-width: 1024px) {
    .logros-container {
      flex-direction: column;
      gap: 1rem;
    }
    h2 {
      font-size: 35px;
    }
  }
  .logro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
    border-right: 1px solid var(--color-blanco);
    .icon i {
      font-size: 4rem;
    }
    .cantidad {
      font-size: 3rem;
      margin: 15px 0;
    }
    .logro-name {
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .logro:last-child {
    border: none;
    padding: 0;
  }
  .icon {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease,
      background-color 0.2s ease;
  }
  .icon:hover {
    transform: translateY(-3px);
    background-color: var(--color-blanco);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25),
      0px 12px 24px rgba(0, 0, 0, 0.2);
    i {
      color: var(--color-verde-claro);
    }
  }
  .texto {
    max-width: 14rem;
    margin-top: 1rem;
    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
    }
  }
  .boton-ver-mas {
    max-width: 20rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-verde-claro);
    color: var(--color-blanco);
    font-size: 1rem;
    text-align: center;
    i {
      margin-left: 0.5rem;
    }
  }
  .boton-ver-mas:hover {
    cursor: pointer;
  }
}

/*? Seccion video */

#video-section {
  .contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .contenedor-video {
      flex-direction: column;
      gap: 2rem;
    }
    .video {
      width: 100%; /* Asegura que el video use el 100% del ancho disponible */
      max-width: 100%; /* Evita que se desborde */
      aspect-ratio: 16 / 9; /* Mantiene la proporción de 16:9 */
      overflow: hidden;
    }
    h2 {
      font-size: 35px;
    }
  }
  .icon-container {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  .iconos-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-verde-claro);
    border-radius: 100%;
    aspect-ratio: 1 / 1;
  }
  i {
    text-align: center;
    font-size: 1.5rem;
  }
}

/*! Pagina de contacto  */

/*? Seccion banner */
#banner-contacto {
  background: linear-gradient(
      90deg,
      rgba(18, 51, 22, 0.7399334733893557) 30%,
      rgba(18, 78, 26, 0.7063200280112045) 100%
    ),
    url("../images/bg_contact.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 30rem;

  .contenido {
    color: var(--color-blanco);
    align-items: flex-start;
    justify-content: center;
    margin-top: 10rem;
    gap: 0;
    a {
      text-decoration: none;
      color: var(--color-blanco);
    }
    h2 {
      font-weight: 600;
      margin: 0;
    }
    i {
      margin-right: 0 0.3rem;
      margin-left: 0.6rem;
    }
  }
}

/*? Seccion Fomurlario */

#form-contacto {
  background-color: #f4f4f4;
  .contenido {
    display: flex;
    align-items: center;
  }
  h2 {
    text-align: start;
  }
  .dos-col {
    max-width: 80%;
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .dos-col {
      flex-direction: column;
      align-items: start;
      max-width: 100%;
    }
  }
  .contenedor-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .info {
      p {
        color: var(--color-gris-claro);
        text-align: start;
        margin-left: 4.5rem;
      }
      div {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        h3 {
          font-size: 1.5rem;
        }
      }
    }
    .icono {
      width: 3rem;
      font-size: 3rem;
      color: var(--color-verde-claro);
    }
  }
  .formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .input-style {
      width: 100%;
      border: none;
      background-color: var(--color-blanco);
      padding: 1rem;
      border-radius: 1rem;
    }
    .checkbox {
      margin-top: 1rem;
    }
    textarea {
      resize: none;
    }
    .boton-submit {
      background-color: var(--color-verde-claro);
      color: var(--color-blanco);
      padding: 1rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 3rem;
    }
  }
}

/*? Seccion redes contacto  */
#redes-contacto {
  .redes-contacto {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    width: 100%;
    a {
      padding: 0.5rem;
      text-align: center;
      width: 100%;
      background-color: var(--color-verde-claro);
      border: 1px solid white;
      i {
        color: var(--color-blanco);
        font-size: 2.5rem;
      }
    }
  }
}

/*? seccion Mapa  */

.ajuste-mapa {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* Pie de pagina */
#pie {
  background-color: var(--color-verde-oscuro);
  color: var(--color-blanco);
  padding: 2rem;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}
